<h1 class="titulo"> Estudiantes </h1>
<table class="tabla table table-success table-striped" >
    <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Patronus</th>
          <th scope="col">Age</th>
          <th scope="col">Image</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let personaje of personajes">
          <td>{{personaje.name}}</td>
          <td>{{personaje.patronus}}</td>
          <td>{{personaje.age}}</td>
          <td><img class="imgPersonajes" src="{{personaje.image}}" alt="">
              </td>
        </tr>
      </tbody>
  </table>